<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dog random<ion-button routerLink="/sobre"style="--border-radius:20px; margin-left:20px; --background:rgb(95, 95, 95);">sobre</ion-button><ion-button style="--border-radius:20px; margin-left:20px; --background:rgb(112, 112, 112);" routerLink="/home">Cachorros Aleatórios</ion-button><ion-button style="--border-radius:20px; margin-left:20px; --background:rgb(158, 158, 158);" routerLink="/soueu">Quem sou eu</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">soueu</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
<img src="assets/gato2.jpg" style="border-radius:50%; height:400px;width:410px;">
<br>
<div id="container2" style="font-size:17px; margin-top:20px;">
  <p>Gabriel Farias Vargas</p>
 <p>Ánalise e Desenvolvimento de Sistemas</p>
 <p>Estudante</p>   
</div>
  </div>

</ion-content>
